In [3]:
ord('H')

72

In [6]:
chr(72)

'H'

In [8]:
res = []
for x in "Hola":
    res.append(ord(x))
res

[72, 111, 108, 97]

In [10]:
res = list(map(ord, "Hola"))
res

[72, 111, 108, 97]

In [13]:
res = [ord(x) for x in "Hola"]
res

[72, 111, 108, 97]

In [14]:
help(ord)

Help on built-in function ord in module builtins:

ord(c, /)
    Return the Unicode code point for a one-character string.

In [15]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
list(map(lambda x:x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
[x for x in range(5) if x%2 == 0]

[0, 2, 4]

In [22]:
list(filter(lambda x:x%2==0, range(5)))

[0, 2, 4]

In [23]:
res = []
for x in range(5):
    if x%2==0:
        res.append(x)
res

[0, 2, 4]

In [24]:
[x**2 for x in range(10) if x%2 == 0]

[0, 4, 16, 36, 64]

In [26]:
lista = [x for x in range(10)]
lista

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
lista = list(filter(lambda x:x%2==0, lista))
lista

[0, 2, 4, 6, 8]

In [36]:
list(
    map(
        lambda x:x**2, 
        filter(lambda x:x%2==0, range(10))
    )
)

[0, 4, 16, 36, 64]

In [39]:
res = [x + y for x in [0, 1, 2] for y in [100, 200, 300]]
res

[100, 200, 300, 101, 201, 301, 102, 202, 302]

In [40]:
res = []
for x in [0,1,2]:
    for y in [100, 200, 300]:
        res.append(x+y)
res

[100, 200, 300, 101, 201, 301, 102, 202, 302]

In [43]:
res = [x + y for x in 'hola' for y in 'HOLA']
res

['hH',
 'hO',
 'hL',
 'hA',
 'oH',
 'oO',
 'oL',
 'oA',
 'lH',
 'lO',
 'lL',
 'lA',
 'aH',
 'aO',
 'aL',
 'aA']

In [44]:
res = []
for x in range(5):
    if x%2==0:
        for y in range(5):
            if y%2==1:
                res.append((x,y))
res

[(0, 1), (0, 3), (2, 1), (2, 3), (4, 1), (4, 3)]

In [45]:
res = [ (x,y) for x in range(5) if x%2==0 for y in range(5) if y%2==1 ]
res

[(0, 1), (0, 3), (2, 1), (2, 3), (4, 1), (4, 3)]

In [46]:
M = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

N = [
    [2,2,2],
    [3,3,3],
    [4,4,4]
]

In [47]:
M[1]

[4, 5, 6]

In [53]:
M[1][1]

5

In [54]:
[row[1] for row in M]

[2, 5, 8]

In [59]:
[M[row][1] for row in (0,1,2)]

[2, 5, 8]

In [62]:
[M[i][i] for i in range(len(M))]

[1, 5, 9]

In [68]:
res = []
for row in range(len(M)):
    for col in range(len(N)):
        res.append(M[row][col] * N[row][col])
res

[2, 4, 6, 12, 15, 18, 28, 32, 36]

In [63]:
[M[row][col] * N[row][col] for row in range(len(M)) for col in range(len(N))]

[2, 4, 6, 12, 15, 18, 28, 32, 36]

In [67]:
res = []
for row in range(len(N)):
    tmp = []
    for col in range(len(M)):
        tmp.append(M[row][col] * N[row][col])
    res.append(tmp)
res

[[2, 4, 6], [12, 15, 18], [28, 32, 36]]

In [65]:
[ [M[row][col] * N[row][col] for col in range(len(M))] for row in range(len(N)) ]

[[2, 4, 6], [12, 15, 18], [28, 32, 36]]

In [1]:
def gensquares(N):
    for i in range(N):
        yield i**2

In [4]:
for i in gensquares(10):
    print(i)

0
1
4
9
16
25
36
49
64
81

In [18]:
x = gensquares(10)

In [17]:
x.__next__()

StopIteration:

In [19]:
next(x)

0

In [22]:
def buildsquares(n):
    res = []
    for i in range(n): res.append(i**2)
    return res

for x in buildsquares(10): print(x, end=' : ')

0 : 1 : 4 : 9 : 16 : 25 : 36 : 49 : 64 : 81 :

In [24]:
for x in [n**2 for n in range(10)]: 
    print(x, end=' : ')

0 : 1 : 4 : 9 : 16 : 25 : 36 : 49 : 64 : 81 :

In [25]:
for x in map(lambda n:n**2, range(10)):
    print(x, end=' : ')

0 : 1 : 4 : 9 : 16 : 25 : 36 : 49 : 64 : 81 :

In [42]:
import sys, time
reps = 20000
repslist = range(reps)

def timer(func, *pargs, **kargs):
    start = time.perf_counter()
    for i in repslist:
        ret = func(*pargs, **kargs)
    elapsed = time.perf_counter() - start
    return(elapsed, ret)

def forLoop():
    res = []
    for x in repslist:
        res.append(abs(x))
    return res

def listComp():
    return [abs(x) for x in repslist]

def mapCall():
    return list(map(abs, repslist))

def genExpr():
    return list(abs(x) for x in repslist)

def genFunc():
    def gen():
        for x in repslist: 
            yield abs(x)
    return list(gen())

print(sys.version)
for test in (forLoop, listComp, mapCall, genExpr, genFunc):
    elapsed, result = timer(test)
    print('-' * 33)
    print('%-9s: %.5f => [%s...%s]' % (test.__name__, elapsed, result[0], result[-1]))

3.12.4 (main, Jul 15 2024, 12:17:32) [GCC 13.3.0]
---------------------------------
forLoop  : 10.06374 => [0...19999]
---------------------------------
listComp : 8.85337 => [0...19999]
---------------------------------
mapCall  : 7.01182 => [0...19999]
---------------------------------
genExpr  : 12.74833 => [0...19999]
---------------------------------
genFunc  : 12.90399 => [0...19999]

In [3]:
x = 99
def funcion():
    print(x)
funcion()

99

In [5]:
def funcion():
    y=99
    print(y)
funcion()
print(y)

99

NameError: name 'y' is not defined